/*Layout*/

body {
    display: flex;
    background-color: black;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#webpage-title-contact-page {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    font-size: x-large;
    font-weight: bold;
    
}

.navigation {
    color: black;
    background-color: #ffb7c5;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 20px;
}

.contact-info {
    color: black;
    background-color: white;
    display: flex;
    padding: 20px;
    width: 600px;
    margin: 0;
    flex-direction: column;
}

.phone-number-info {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 600px;
    margin: 0;
    flex-direction: row;
}

.email-info {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 600px;
    margin: 0;
    flex-direction: row;
}

.fax-info {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 600px;
    margin: 0;
    flex-direction: row;
}

#contact-info-div {
    color: black;
    background-color: white;
    display: flex;
    width: 1200px;
    margin: 0;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
}


.links {
    color: black;
    background-color: #ffb7c5;
}

header {
    color: black;
    background-color: #ffb7c5;
    width: 1200px;
    padding: 5px;
    position: sticky;
    top: 0;
}

footer {
    color: black;
    background-color: #ffb7c5;
    width: 1200px;
    padding: 5px;
}

#image-contact-page {
    width: 1000px;
    padding: 5px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 25px 0 greenyellow;
    background-color: antiquewhite;
}

.image {
    background-color: white;
}

.copyright {
    display: flex;
    justify-content: center;
}

.contact-info {
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    width: 1200px;
    margin: 0;
    flex-direction: row;
}

#contact-info-heading {
    color: black;
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0;
    padding: 5px;
}

@media  screen and (max-width: 320px) {
    header, footer, #image-contact-page, .contact-info, #contact-info-div, #contact-info-heading {
        max-width: 300px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    header {
        display: flex;
        flex-direction: column;
        height: 130px;

    }

    #webpage-title-contact-page {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;  
        justify-content: space-between;
    }

    .email-info {
        width: 210px;
        display: flex;
        flex-direction: column;
    }

    .fax-info {
        width: 210px;
        display: flex;
        flex-direction: column;
    }

    .phone-number-info {
        width: 210px;
        display: flex;
        flex-direction: column;
    }

}
 
