/*Layout*/

body {
    display: flex;
    background-color: black;
    align-items: center;
    flex-direction: column;
}

#webpage-title-home-page {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.navigation {
    color: black;
    background-color: #ffb7c5;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 20px;
}

#home-page-paragraph {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 600px;


}

.links {
    color: black;
    background-color: #ffb7c5;
}

header {
    color: black;
    background-color: #ffb7c5;
    width: 600px;
    padding: 20px;
}

footer {
    color: black;
    background-color: #ffb7c5;
    width: 600px;
    padding: 20px;
}

#image-homepage {
    color: black;
    background-color: white;
    width: 600px;
    padding: 20px;
}
